@keyframes showing-from-top {
    0%{transform: translateY(-120px);
    }
    100%{
        transform: translateY(0px);
    }

    
}


  @keyframes show {
    0%{
        opacity: 0;
    }
    100%{ opacity: 1;
    }
}

@keyframes showing-right {
    0%{transform: translateX(1000px);
        
        
    }
    80%{
        transform: translateX(-30px);
      
    }

    
    100%{
        transform: translateX(0px);
        
    }
    
}



.nav-anime{
    visibility: hidden;
    animation: showing-right 1.5s ease 2s;
    
       
}




    

.navbar-1{
    background: #19242D;
    height: 72px;
    width: 1440px;
    

   
    

}

.navbar-2{
    background: #202D39;
    height: 72px;
    width: 1440px;
}

.line{
    border-left: 2px solid white;
    height: 20px;
}
/* .logo{
    margin-left: 133px;
    margin-right: 20px;
} */
.text{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

 .btn{
    
    margin:5px;
    border-radius: 25px;
} 

.btn-home{
    margin-left: 35px;

    height: 32px;
    width: 52px;
    
}

/* .btn{
    height: 32px;
} */
.btn-hed{
    height: 32px;
}

.borsa{
    color:white ;
background: #5FB865;
    
}

.borsa:hover{
    color:white ;
    background: #5FB865;
    opacity: 0.8;
}



.btn-parts{
color: white;
background: #63C7C9;
}

.btn-parts:hover{
    color:white ;
    background: #63C7C9;
    opacity: 0.8;

}

.btn-cars{
    color: white;
    background: #DC5426;
}

.btn-cars:hover{
    color: white;
    background: #DC5426;
    opacity: 0.8;

}

.btn-sell-p{
    color:white;
    background: #E59D48;
}

.btn-sell-p:hover{
    color:white;
    background: #E59D48;
    opacity: 0.8;
}

.btn-games{
    color: white;
    background: #BD5FE9;
}

.btn-games:hover{
    color: white;
    background: #BD5FE9;
    opacity: 0.8;
}

.btn-insurance{
    color: white;
    background: #202D39;
    border: 1.5px solid #DC5426;
}
.btn-insurance:hover{
    color: white;
    background: #202D39;
    border: 1.5px solid #DC5426;
    opacity: 0.8;
}

.backgr{
display: flex;
height: 264px;
width: 1440px;
padding: 10px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background: #008AEE;
visibility: hidden;
    /* animation: showing-right 1.5s ease 3s; */
    animation: show 1s ease 2s;


}

.white-board{
    margin-left: 130px;
    display: flex;
    width: 1179px;
    height: 214px;
    padding: 20px 25px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
    background: #FEFEFE;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    animation: showing-right 1.5s ease 2s;

}

.h1{
    animation: showing-from-top 2s ease 2s;
    
}


.row-b-1{
    
    display: flex;
align-items: flex-start;

}

.row-b-2{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;

}

.row-b-3{

    display: flex;
   
    

align-items:flex-start;
align-self: stretch;

font-family: Exo 2;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.btn-b{
    display: flex;
padding: 0px 30px;
align-items: flex-start;
gap: 10px;

}

.input-b{
    display: flex;
    width: 930px;
    padding: 16px 10px 16px 25px;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
   border-radius: 25px;
   border: 1px solid #008AEE;
}

.text-a{
    color: #19242D;
font-family: Exo 2;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text-b{
    color: #FEFEFE;
font-family: Exo 2;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text-b-3{
   


}
.btn-w{
    height: 34px;
    background: white;
    color: black;
    padding: 6px 22px;

}

.btn-parts-2{
    
    
    
    border: 1.5px solid #008AEE;
   
}

.btn-parts-2:hover{
    
    border: 1.5px solid #008AEE;
    opacity: 0.8;

}

.btn-borsa-2{
   
    border: 1.5px solid #5FB865;}

.btn-borsa-2:hover{ 
    
    
    border: 1.5px solid #5FB865;
    opacity: 0.8;
}

.btn-cars-2{
    
    border: 1.5px solid #63C7C9;
}
.btn-cars-2:hover{
    
    border: 1.5px solid #63C7C9;
    opacity: 0.8;
}

.btn-sell-c-2{
    
    border: 1.5px solid #DC5426;

}

.btn-sell-c-2:hover{
     border: 1.5px solid #DC5426;
    opacity: 0.8;
}

.btn-sell-p-2{
    border: 1.5px solid #E59D48;
}

.btn-sell-p-2:hover{
    border: 1.5px solid #E59D48;
    opacity: 0.8;
}



.image-back{
 width: 1440px;
height: 299px;
flex-shrink: 0;
background-image: url(/icons/Rectangle\ 100.png);
background-repeat: no-repeat;
background-size: cover;
z-index: 100;

}

.highlights{
    margin-left: 130px;
    display: flex;
width: 1180px;
height: 156px;
padding-right: 0px;
align-items: flex-start;
gap: 80.423px;
flex-shrink: 0;

 
}

.card-title{
    color: #19242D;
font-family: Exo 2;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card-text{
    color: #777;
font-family: Exo 2;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.card{
    border:none;
}

.row-h{
    visibility: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.card-h{
    animation: showing-from-top 0.4s linear 2s;
    background: none;
    
}

.card-g{
    animation: showing-from-top 0.4s linear 2.2s;
    background: none;
}
.card-j{
    animation: showing-from-top 0.4s linear 2.4s;
    background: none;
}
.card-k{
    animation: showing-from-top 0.4s linear 2.6s;
    background: none;
}

.product-slider-1{
margin-left: 130px;
height: 277.747px;
margin-bottom: 100px;



}



.card-p-1{
    width: 271px;
height: 271px;
    border-radius: 25px;
border: 2px solid #008AEE;
background: #008AEE;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
visibility: hidden;

    
}

.card-text-p-1{
    color: #EDEDED;
text-align: center;
font-family: Exo 2;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.card-title-p-1{

    color: #FFF;
font-family: Exo 2;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.show{

color: #008AEE;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card-img-top{
    width: 271px;
height: 179.538px;
}

.card-text-p-2{
    color: #19242D;
font-family: Exo 2;
font-size: 14.608px;
font-style: normal;
font-weight: 700;
line-height: normal;
align-self: stretch;

}

.card-text-p-3{
    color: #999;
font-family: Roboto;
font-size: 12.521px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: none;
}

.card-text-p-2-2{

}

.carousel-1{
    visibility: hidden;
    
    
   
}

.carousel-2{
    visibility: hidden;
}

.card-d{
    width: 271px;
height: 271px;
    

}

.title-p{
    color: #19242D;
font-family: Exo 2;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.price{
    color: #5FB865;
text-align: right;
font-family: Exo 2;
font-size: 18.782px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: none;
}

.ofer-1{
    color: #008AEE;
font-family: Exo 2;
font-size: 18.78px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: none;
}

.product-slider-2{
    margin-top: 190px;
    margin-left: 130px;
    height: 277.747px;
    margin-bottom: 80px;
}

.card-p-2{
    width: 271px;
height: 271px;
margin-right: 130px;
   
    border-radius: 25px;
    background: #5FB865;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    visibility: hidden;
}

.services{
    margin-top: 190px;
    margin-left: 130px;
    height: 277.747px;
}

.card-s-1{
    width: 271px;
height: 271px;
border-radius: 25px;
background: #63C7C9;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-s-2{
    width: 271px;
    height: 271px;
   
    border-radius: 25px;
    
background: #DC5426;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-s-3{
    width: 271px;
    height: 271px;
    border-radius: 25px;
    background: #E59D48;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
   
}

.card-s-4{
    width: 271px;
    height: 271px;
    
    border-radius: 25px;
background: #BD5FE9;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.services-2{
    margin-top: 32px;
    margin-left: 130px;
 width: 1179px;
 height: 82px;
}

.card-s2-2{
    
width: 271px;
height: 82px;

border-radius: 25px;
border: 2px solid #DC5426;

box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-s2-3{
    width: 271px;
height: 82px;
    border-radius: 25px;
border: 2px solid #5FB865;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-s2-4{
    width: 271px;
height: 82px;
    border-radius: 25px;
border: 2px solid #008AEE;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-s2-5{
    width: 271px;
height: 82px;
    border-radius: 25px;
border: 2px solid #0043EE;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}


.card-title-s2-2{
    color: #DC5426;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card-text-s2-2{
    color: #999;
text-align: center;
font-family: Exo 2;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.card-title-s2-3{
    color: #5FB865;   
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.card-title-s2-4{
    color: #008AEE;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card-title-s2-5{
    color: #0043EE;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.carousel-item{

/* display: flex;
width: 594px;
height: 261px;
padding: 25px;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 25px;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08); */
}


.carousel-container {
    
    width: 1150px;
height: 261px;
}

.carousel {
    width: 300px;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel-item {
    display: flex;
width: 594px;
height: 261px;
padding: 25px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    /* padding: 10px 20px; */
    /* background-color: #007BFF; */
    /* color: #fff;
    border: none;
    cursor: pointer; */
}

.messages-2{
    display: flex;
width: 594px;
height: 261px;
padding: 25px;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 25px;
background: #a34848;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
}

.slider-3{
    width: 1140px;

display:flex;
flex-shrink: 0;
justify-content: center;
align-items: center;

}

.image{
    margin-bottom: 119px;
    margin-left: 130px;
    width: 1179px;
height: 686.85px;
flex-shrink: 0;
}

.footer{
    width: 1440px;
height: 300px;
flex-shrink: 0;
 background: #202D39;
}

.for-you{
    display: flex;
width: 271px;
height: 165px;
padding: 15px;
margin-left: 130px;
align-items: flex-start;
gap: 10px;
border-radius: 10px;
background: #19242D;
}

.card-title-5{
    color: #FFF;
font-family: Exo 2;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text-footer{
    color: #FFF;
font-family: Exo 2;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.for-you-1{
display: flex;
width: 271px;
height: 230px;
padding: 15px;
align-items: flex-start;
gap: 10px;
border-radius: 10px;
background: #19242D;
}

.online{
    margin-left: 130px;
    display: flex;
width: 271px;
height: 49px;
padding: 15px;
justify-content: center;
align-items: center;
gap: 10px;
    border-radius: 10px;
background: #19242D;
}

.online-text{
    color: #5FB865;
font-family: Exo 2;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
    

}






